.equilizer, .equilizer-right {
  width: 70vw; }
  .equilizer .bar, .equilizer-right .bar {
    fill: lightgrey;
    width: 0;
    height: 3px; }
    .equilizer .bar:nth-child(1), .equilizer-right .bar:nth-child(1) {
      transition: width 2.5s ease 0.25s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(2), .equilizer-right .bar:nth-child(2) {
      transition: width 2.5s ease 0.45s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(3), .equilizer-right .bar:nth-child(3) {
      transition: width 2.5s ease, fill 2s ease 1s; }
    .equilizer .bar:nth-child(4), .equilizer-right .bar:nth-child(4) {
      transition: width 2.5s ease 0.7s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(5), .equilizer-right .bar:nth-child(5) {
      transition: width 2.5s ease 0.15s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(6), .equilizer-right .bar:nth-child(6) {
      transition: width 2.5s ease 0.65s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(7), .equilizer-right .bar:nth-child(7) {
      transition: width 2.5s ease 0.55s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(8), .equilizer-right .bar:nth-child(8) {
      transition: width 2.5s ease 0.15s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(9), .equilizer-right .bar:nth-child(9) {
      transition: width 2.5s ease 0.65s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(10), .equilizer-right .bar:nth-child(10) {
      transition: width 2.5s ease 0.45s, fill 2s ease 1s; }
    .equilizer .bar:nth-child(11), .equilizer-right .bar:nth-child(11) {
      transition: width 2.5s ease 0.5s, fill 2s ease 1s; }

.equilizer.visible .bar, .visible.equilizer-right .bar {
  width: 50vw;
  fill: #32cec0; }

.equilizer-right {
  transform: rotate(180deg); }
  .equilizer-right .visible .bar {
    fill: red; }

.main-header,
.section-header,
.who-we-are-list-title,
.our-strengths {
  font-family: "Oswald", sans-serif; }

h2 {
  font-size: 67px; }

.is-bold {
  font-weight: 700; }

.is-blue {
  color: #5454ff; }

.navbar-default {
  background: #fff;
  border: none; }

.nav {
  margin: -32px -22px -25px 0; }
  .nav .nav-item {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 45px; }
    .nav .nav-item .nav-item-link {
      color: #5454ff;
      letter-spacing: 0.1em; }

.navbar-default .navbar-nav > li > a:hover {
  color: #29d4be; }

.change-color:hover {
  animation-name: textcolor;
  animation-duration: 1s; }

@keyframes textcolor {
  0% {
    color: #ab22d8; }
  50% {
    color: #ab22d8; }
  100% {
    color: #29d4be; } }

.first-section {
  margin-bottom: 80px; }
  @media (max-width: 991px) {
    .first-section .section-text {
      padding-left: 0; } }

.first-section-container {
  text-align: center; }

.first-section-img {
  padding-left: 140px; }
  @media (max-width: 1199px) {
    .first-section-img {
      padding-left: 70px; } }
  @media (max-width: 991px) {
    .first-section-img {
      padding-left: 0; } }
  @media (max-width: 779px) {
    .first-section-img {
      padding: 20px;
      width: 50%; } }

@media (max-width: 779px) {
  .second-section .row {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media (max-width: 779px) {
  .second-section .second-section-img-container {
    order: 2;
    text-align: center; } }

@media (max-width: 779px) {
  .second-section .second-section-text-container {
    order: 1; } }

@media (max-width: 991px) {
  .second-section-img {
    width: 90%; } }

@media (max-width: 779px) {
  .second-section-img {
    width: 50%; } }

@media (max-width: 991px) {
  .third-section .section-text {
    padding-left: 0; } }

.third-section-img-container {
  text-align: center; }

.section-text {
  padding-left: 80px;
  padding-right: 25px; }
  @media (max-width: 779px) {
    .section-text {
      text-align: center;
      padding: 0; } }

.section-header {
  text-transform: uppercase;
  line-height: 75px;
  font-size: 67px;
  display: inline-block;
  width: 300px; }
  @media (max-width: 779px) {
    .section-header {
      line-height: 70px;
      font-size: 45px; } }
  .section-header:after {
    display: inline-block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 284px;
    position: relative;
    bottom: 50px; }

.section-subheader {
  margin-top: -50px; }
  @media (max-width: 779px) {
    .section-subheader {
      padding: 20px 80px;
      text-align: center; } }

.hello-section .container {
  position: relative;
  z-index: 3; }

.hello-section .hello-text {
  padding: 90px 50px 25px 25px; }
  @media (max-width: 779px) {
    .hello-section .hello-text {
      padding: 35px 35px 25px 25px; } }

.hello-section .main-header {
  color: #5454ff;
  text-transform: uppercase;
  font-size: 27px; }
  @media (max-width: 779px) {
    .hello-section .main-header {
      text-align: center; } }

.hello-section .main-subheader {
  font-size: 36px;
  font-weight: 300; }
  @media (max-width: 779px) {
    .hello-section .main-subheader {
      text-align: center;
      font-size: 22px; } }
  .hello-section .main-subheader:after {
    display: inline-block;
    content: "";
    border-top: 4px solid #5454ff;
    width: 362px;
    position: relative;
    bottom: 0;
    right: -420px; }
    @media (max-width: 1199px) {
      .hello-section .main-subheader:after {
        right: -535px; } }
    @media (max-width: 991px) {
      .hello-section .main-subheader:after {
        right: -320px; } }
    @media (max-width: 779px) {
      .hello-section .main-subheader:after {
        display: none; } }

.hello-section .hello-section-dots {
  position: absolute;
  right: 400px;
  top: 80px; }
  @media (max-width: 1199px) {
    .hello-section .hello-section-dots {
      right: 135px; } }
  @media (max-width: 779px) {
    .hello-section .hello-section-dots {
      width: 36%;
      right: 32%; } }

@media (max-width: 779px) {
  .who-we-are {
    text-align: center; } }

.who-we-are .section-header {
  display: block;
  width: 100%;
  padding-bottom: 70px; }
  .who-we-are .section-header:after {
    content: none; }

.who-we-are .our-images {
  padding-bottom: 70px; }
  .who-we-are .our-images .image-box {
    text-align: center; }
    @media (max-width: 991px) {
      .who-we-are .our-images .image-box {
        margin-bottom: 60px; } }

.who-we-are .who-we-are-list-container:after {
  display: block;
  content: "";
  border-top: 5px solid #f0eeee;
  width: 304px;
  position: relative;
  bottom: -8px;
  left: 23px; }

.who-we-are .who-we-are-list-title {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px;
  padding-left: 25px; }

.who-we-are .who-we-are-list {
  list-style-type: square;
  color: #5454ff; }
  .who-we-are .who-we-are-list span {
    color: black; }

.who-we-are .our-strengths {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }

.who-we-are .who-we-are-subheader {
  width: 70%; }
  @media (max-width: 991px) {
    .who-we-are .who-we-are-subheader {
      width: 100%; } }
  .who-we-are .who-we-are-subheader:after {
    display: block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 400px;
    position: relative;
    bottom: -20px;
    left: 0; }
    @media (max-width: 991px) {
      .who-we-are .who-we-are-subheader:after {
        width: 333px; } }

.our-projects {
  background-color: #e3e3e3;
  padding: 60px;
  position: relative; }
  .our-projects .container {
    position: relative;
    z-index: 3; }
  .our-projects .our-projects-section-dots {
    position: absolute;
    right: 300px;
    top: -113px; }
    @media (max-width: 1199px) {
      .our-projects .our-projects-section-dots {
        right: 140px; } }
  .our-projects .section-header {
    display: block;
    width: 100%; }
    .our-projects .section-header:after {
      display: block;
      content: "";
      border-top: 5px solid #fff;
      width: 410px;
      position: relative;
      bottom: -8px;
      margin: 0 auto; }
  .our-projects .our-projects-subheader {
    padding: 40px;
    width: 500px;
    margin: 0 auto; }

.footer {
  background-color: #e3e3e3;
  padding: 30px; }
  .footer .icons {
    padding-left: 40px; }

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #373D3F; }

header {
  margin-bottom: 50px; }

section {
  margin-bottom: 50px; }
