.main-header,
.section-header,
.who-we-are-list-title,
.our-strengths {
  font-family: "Oswald", sans-serif; }

h2 {
  font-size: 67px; }

.is-bold {
  font-weight: 700; }

.is-blue {
  color: #5454ff; }

.btn-blue-custom {
  background-color: #5454ff;
  border: none;
  border-radius: 0;
  padding: 10px 44px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300; }
  @media (max-width: 779px) {
    .btn-blue-custom {
      margin-bottom: 20px; } }
  .btn-blue-custom:hover {
    background-color: #2221d3;
    color: #fff; }

.stripe, .stripe-right {
  width: 50vw; }
  .stripe .bar, .stripe-right .bar {
    fill: lightgrey;
    width: 0;
    height: 5px; }
    .stripe .bar:nth-child(1), .stripe-right .bar:nth-child(1) {
      transition: width 1s ease-out 0.2s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(1), .stripe-right .bar:nth-child(1) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.2s; } }
    .stripe .bar:nth-child(2), .stripe-right .bar:nth-child(2) {
      transition: width 1s ease-out 0.4s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(2), .stripe-right .bar:nth-child(2) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.4s; } }
    .stripe .bar:nth-child(3), .stripe-right .bar:nth-child(3) {
      transition: width 1s ease-out 0s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(3), .stripe-right .bar:nth-child(3) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0s; } }
    .stripe .bar:nth-child(4), .stripe-right .bar:nth-child(4) {
      transition: width 1s ease-out 0.8s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(4), .stripe-right .bar:nth-child(4) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.8s; } }
    .stripe .bar:nth-child(5), .stripe-right .bar:nth-child(5) {
      transition: width 1s ease-out 0.16s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(5), .stripe-right .bar:nth-child(5) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.16s; } }
    .stripe .bar:nth-child(6), .stripe-right .bar:nth-child(6) {
      transition: width 1s ease-out 0.6s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(6), .stripe-right .bar:nth-child(6) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.6s; } }
    .stripe .bar:nth-child(7), .stripe-right .bar:nth-child(7) {
      transition: width 1s ease-out 0.44s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(7), .stripe-right .bar:nth-child(7) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.44s; } }
    .stripe .bar:nth-child(8), .stripe-right .bar:nth-child(8) {
      transition: width 1s ease-out 0.1s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(8), .stripe-right .bar:nth-child(8) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.1s; } }
    .stripe .bar:nth-child(9), .stripe-right .bar:nth-child(9) {
      transition: width 1s ease-out 0.6s; }
      @media (max-width: 779px) {
        .stripe .bar:nth-child(9), .stripe-right .bar:nth-child(9) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.6s; } }

.stripe.visible .bar, .visible.stripe-right .bar {
  width: 100%;
  animation-name: stripe-color;
  animation-duration: 1s;
  fill: #29d4be; }
  .stripe.visible .bar:nth-child(1), .visible.stripe-right .bar:nth-child(1) {
    animation-delay: 0.2s; }
  .stripe.visible .bar:nth-child(2), .visible.stripe-right .bar:nth-child(2) {
    animation-delay: 0.4s; }
  .stripe.visible .bar:nth-child(3), .visible.stripe-right .bar:nth-child(3) {
    animation-delay: 0s; }
  .stripe.visible .bar:nth-child(4), .visible.stripe-right .bar:nth-child(4) {
    animation-delay: 0.8s; }
  .stripe.visible .bar:nth-child(5), .visible.stripe-right .bar:nth-child(5) {
    animation-delay: 0.16s; }
  .stripe.visible .bar:nth-child(6), .visible.stripe-right .bar:nth-child(6) {
    animation-delay: 0.6s; }
  .stripe.visible .bar:nth-child(7), .visible.stripe-right .bar:nth-child(7) {
    animation-delay: 0.44s; }
  .stripe.visible .bar:nth-child(8), .visible.stripe-right .bar:nth-child(8) {
    animation-delay: 0.1s; }
  .stripe.visible .bar:nth-child(9), .visible.stripe-right .bar:nth-child(9) {
    animation-delay: 0.6s; }

@media (max-width: 779px) {
  .stripe, .stripe-right {
    width: 100vw; }
    .stripe.visible .bar, .visible.stripe-right .bar {
      width: 100%; } }

.stripe-right {
  width: 50vw;
  transform: rotate(180deg); }
  @media (max-width: 779px) {
    .stripe-right {
      width: 100vw; } }

@keyframes stripe-color {
  0% {
    fill: #5454ff; }
  10% {
    fill: #5454ff; }
  40% {
    fill: #ab22d8; }
  90% {
    fill: #29d4be; }
  100% {
    fill: #29d4be; } }

.navbar-default {
  background: #fff;
  border: none; }
  @media (max-width: 779px) {
    .navbar-default .navbar-brand {
      display: block;
      float: none; }
      .navbar-default .navbar-brand img {
        margin: 0 auto; }
    .navbar-default .navbar-nav {
      text-align: center;
      margin-top: 45px; } }

.nav {
  margin: -32px -22px -25px 0; }
  @media (max-width: 779px) {
    .nav {
      margin: 0; } }
  .nav .nav-item {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 45px; }
    @media (max-width: 779px) {
      .nav .nav-item {
        display: inline-block;
        padding: 0; } }
    .nav .nav-item .nav-item-link {
      color: #5454ff;
      letter-spacing: 0.1em; }

.navbar-default .navbar-nav > li > a:hover {
  color: #29d4be; }

.change-color:hover {
  animation-name: textcolor;
  animation-duration: 1s; }

@keyframes textcolor {
  0% {
    color: #ab22d8; }
  50% {
    color: #ab22d8; }
  100% {
    color: #29d4be; } }

@media (max-width: 779px) {
  text-align: center;
  margin-bottom: 10px; }

.first-section {
  margin-bottom: 80px; }
  @media (max-width: 779px) {
    .first-section {
      margin-top: -80px;
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    .first-section .section-text {
      padding-left: 0; } }

.first-section-container {
  text-align: center; }

.first-section-img {
  padding-left: 140px; }
  @media (max-width: 1199px) {
    .first-section-img {
      padding-left: 70px; } }
  @media (max-width: 991px) {
    .first-section-img {
      padding-left: 0; } }
  @media (max-width: 779px) {
    .first-section-img {
      padding: 20px;
      width: 50%;
      transform: translate(0, 0); } }
  @media (max-width: 479px) {
    .first-section-img {
      width: 75%; } }
  @media (max-width: 320px) {
    .first-section-img {
      padding: 20px;
      width: 85%;
      transform: translate(0, 0); } }

@media (max-width: 779px) {
  .second-section .row {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media (max-width: 779px) {
  .second-section .second-section-img-container {
    order: 2;
    text-align: center; } }

@media (max-width: 779px) {
  .second-section .second-section-text-container {
    order: 1; } }

@media (max-width: 779px) {
  .second-section .stripes {
    margin-top: -50px;
    margin-bottom: 30px; } }

@media (max-width: 991px) {
  .second-section-img {
    width: 90%; } }

@media (max-width: 779px) {
  .second-section-img {
    width: 50%; } }

@media (max-width: 991px) {
  .third-section .section-text {
    padding-left: 0; } }

.third-section-img-container {
  text-align: center; }

.section-text {
  padding-left: 80px;
  padding-right: 25px; }
  @media (max-width: 779px) {
    .section-text {
      text-align: center;
      padding: 0; } }

.section-header {
  text-transform: uppercase;
  line-height: 75px;
  font-size: 67px;
  display: inline-block;
  width: 300px; }
  @media (max-width: 779px) {
    .section-header {
      line-height: 40px;
      font-size: 27px; } }
  .section-header:after {
    display: inline-block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 284px;
    position: relative;
    bottom: 50px; }
    @media (max-width: 779px) {
      .section-header:after {
        width: 140px;
        position: relative;
        bottom: 0px;
        display: block;
        margin: 0 auto; } }

.section-subheader {
  margin-top: -50px; }
  @media (max-width: 779px) {
    .section-subheader {
      padding: 50px 15px 15px;
      text-align: center; } }
  @media (max-width: 320px) {
    .section-subheader {
      padding: 50px 10px 10px; } }

@media (max-width: 479px) {
  .hello-section {
    margin-bottom: 20px; } }

.hello-section .container {
  position: relative;
  z-index: 3; }

.hello-section .hello-text {
  padding: 90px 50px 25px 25px;
  position: relative; }
  @media (max-width: 779px) {
    .hello-section .hello-text {
      padding: 35px 35px 25px 25px; } }
  @media (max-width: 320px) {
    .hello-section .hello-text {
      padding: 0px 10px 10px 10px; } }
  .hello-section .hello-text:after {
    display: inline-block;
    content: "";
    border-top: 4px solid #5454ff;
    width: 362px;
    position: absolute;
    bottom: 0;
    right: 20px; }
    @media (max-width: 779px) {
      .hello-section .hello-text:after {
        display: none; } }

.hello-section .main-header {
  color: #5454ff;
  text-transform: uppercase;
  font-size: 27px; }
  @media (max-width: 779px) {
    .hello-section .main-header {
      text-align: center; } }

.hello-section .main-subheader {
  font-size: 36px;
  font-weight: 300;
  font-size: 25px; }
  @media (max-width: 779px) {
    .hello-section .main-subheader {
      text-align: center;
      font-size: 22px; } }
  @media (max-width: 320px) {
    .hello-section .main-subheader {
      font-size: 16px; } }

.hello-section .hello-section-dots {
  position: absolute;
  right: 400px;
  top: 80px; }
  @media (max-width: 1199px) {
    .hello-section .hello-section-dots {
      right: 135px; } }
  @media (max-width: 779px) {
    .hello-section .hello-section-dots {
      display: none; } }
  @media (max-width: 479px) {
    .hello-section .hello-section-dots {
      display: none; } }

@media (max-width: 779px) {
  .who-we-are {
    text-align: center; } }

.who-we-are .section-header {
  display: block;
  width: 100%;
  padding-bottom: 70px; }
  .who-we-are .section-header:after {
    display: block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 284px;
    position: relative;
    bottom: -8px;
    margin: 0 auto; }
    @media (max-width: 320px) {
      .who-we-are .section-header:after {
        width: 140px; } }

.who-we-are .our-images {
  padding-bottom: 70px; }
  @media (max-width: 779px) {
    .who-we-are .our-images {
      padding-bottom: 20px; } }
  .who-we-are .our-images .image-box {
    text-align: center; }
    @media (max-width: 991px) {
      .who-we-are .our-images .image-box {
        margin-bottom: 60px; } }
    @media (max-width: 479px) {
      .who-we-are .our-images .image-box .image-box-img:nth-child(even) {
        width: 80%; } }

@media (max-width: 779px) {
  .who-we-are .who-we-are-list-container {
    margin-bottom: 40px; } }

.who-we-are .who-we-are-list-title {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }
  @media (max-width: 779px) {
    .who-we-are .who-we-are-list-title {
      padding-left: 0; } }

@media (max-width: 779px) {
  .who-we-are .who-we-are-text {
    padding: 10px 15px 5px 15px; } }

.who-we-are .our-strengths {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }

@media (max-width: 779px) {
  .who-we-are .who-we-are-subheader {
    padding: 10px 15px 5px 15px; } }

.what-we-do .we-do-title {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }
  @media (max-width: 779px) {
    .what-we-do .we-do-title {
      text-align: center; } }

@media (max-width: 779px) {
  .what-we-do .we-do-content {
    text-align: center; } }

.what-we-do .what-we-do-container {
  padding-left: 40px; }
  @media (max-width: 779px) {
    .what-we-do .what-we-do-container {
      padding: 20px; } }
  .what-we-do .what-we-do-container .section-header {
    width: 330px; }
  .what-we-do .what-we-do-container .list-style {
    list-style-type: square;
    color: #5454ff;
    padding-left: 15px; }
    @media (max-width: 779px) {
      .what-we-do .what-we-do-container .list-style {
        text-align: center;
        font-weight: 600;
        list-style-type: none; } }
    .what-we-do .what-we-do-container .list-style span {
      color: black; }

.our-projects {
  background-color: #e3e3e3;
  padding: 60px;
  position: relative; }
  @media (max-width: 779px) {
    .our-projects {
      padding: 35px 15px 15px; } }
  .our-projects .container {
    position: relative;
    z-index: 3; }
  .our-projects .our-projects-section-dots {
    position: absolute;
    right: 300px;
    top: 0; }
    @media (max-width: 1199px) {
      .our-projects .our-projects-section-dots {
        right: 140px; } }
    @media (max-width: 779px) {
      .our-projects .our-projects-section-dots {
        display: none; } }
  .our-projects .section-header {
    display: block;
    width: 100%; }
    .our-projects .section-header:after {
      display: block;
      content: "";
      border-top: 5px solid #fff;
      width: 410px;
      position: relative;
      bottom: -8px;
      margin: 0 auto; }
      @media (max-width: 779px) {
        .our-projects .section-header:after {
          width: 85%; } }
      @media (max-width: 320px) {
        .our-projects .section-header:after {
          width: 140px; } }
  .our-projects .our-projects-subheader {
    padding: 40px;
    width: 500px;
    margin: 0 auto; }
    @media (max-width: 779px) {
      .our-projects .our-projects-subheader {
        width: 100%;
        text-align: center; } }
    @media (max-width: 320px) {
      .our-projects .our-projects-subheader {
        padding: 25px 10px 25px 10px; } }

.footer {
  background-color: #e3e3e3;
  padding: 30px; }
  .footer .icons {
    padding-left: 40px; }
    @media (max-width: 779px) {
      .footer .icons {
        text-align: center;
        margin-bottom: 10px; } }
  @media (max-width: 779px) {
    .footer .rights {
      text-align: center; } }

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #373D3F; }

header {
  margin-bottom: 50px; }
  @media (max-width: 779px) {
    header {
      margin-bottom: 0; } }

section {
  margin-bottom: 50px; }
