@font-face {
  font-family: 'oswaldlight';
  src: url("../fonts/Oswald/oswald-light-webfont.eot");
  src: url("../fonts/Oswald/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/oswald-light-webfont.woff2") format("woff2"), url("../fonts/Oswald/oswald-light-webfont.woff") format("woff"), url("../fonts/Oswald/oswald-light-webfont.ttf") format("truetype"), url("../fonts/Oswald/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldmedium';
  src: url("../fonts/Oswald/oswald-medium-webfont.eot");
  src: url("../fonts/Oswald/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/oswald-medium-webfont.woff2") format("woff2"), url("../fonts/Oswald/oswald-medium-webfont.woff") format("woff"), url("../fonts/Oswald/oswald-medium-webfont.ttf") format("truetype"), url("../fonts/Oswald/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldregular';
  src: url("../fonts/Oswald/oswald-regular-webfont.eot");
  src: url("../fonts/Oswald/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/Oswald/oswald-regular-webfont.woff") format("woff"), url("../fonts/Oswald/oswald-regular-webfont.ttf") format("truetype"), url("../fonts/Oswald/oswald-regular-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto/roboto-light-webfont.eot");
  src: url("../fonts/Roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/Roboto/roboto-medium-webfont.eot");
  src: url("../fonts/Roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.main-header,
.section-header,
.who-we-are-list-title,
.our-strengths {
  font-family: "oswaldregular", sans-serif; }

h2 {
  font-size: 67px; }

p {
  font-size: 17px; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

.is-bold-roboto {
  font-family: 'robotomedium', sans-serif; }

.is-bold-oswald {
  font-family: 'oswaldmedium', sans-serif; }

.is-blue {
  color: #5454ff; }

.btn-blue-custom, .btn-blue-second-custom {
  background-color: #29d4be;
  border: none;
  border-radius: 0;
  padding: 10px 44px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff; }
  @media (max-width: 767px) {
    .btn-blue-custom, .btn-blue-second-custom {
      margin-bottom: 20px; } }
  .btn-blue-custom:hover, .btn-blue-second-custom:hover, .btn-blue-custom:focus, .btn-blue-second-custom:focus {
    background-color: #27c4af;
    color: #fff; }
  .btn-blue-custom:active, .btn-blue-second-custom:active {
    background-color: #27c4af;
    border-color: transparent;
    color: white;
    box-shadow: none; }

.btn-blue-second-custom {
  background-color: #5454ff;
  font-size: 14px;
  margin-top: 20px; }
  .btn-blue-second-custom:active {
    background-color: #2221d3; }
  .btn-blue-second-custom:hover {
    background-color: #2221d3;
    color: #fff; }

.stripe, .stripe-right {
  position: relative;
  height: 155px; }

.stripe, .stripe-right {
  width: 50%; }
  .stripe .bar, .stripe-right .bar {
    background-color: lightgrey;
    width: 0;
    height: 5px;
    position: absolute;
    left: 0; }
    .stripe .bar:nth-child(1), .stripe-right .bar:nth-child(1) {
      top: 0;
      transition: width 1s ease-out 0.2s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(1), .stripe-right .bar:nth-child(1) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.2s; } }
    .stripe .bar:nth-child(2), .stripe-right .bar:nth-child(2) {
      top: 13px;
      transition: width 1s ease-out 0.4s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(2), .stripe-right .bar:nth-child(2) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.4s; } }
    .stripe .bar:nth-child(3), .stripe-right .bar:nth-child(3) {
      top: 26px;
      transition: width 1s ease-out 0s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(3), .stripe-right .bar:nth-child(3) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0s; } }
    .stripe .bar:nth-child(4), .stripe-right .bar:nth-child(4) {
      top: 39px;
      transition: width 1s ease-out 0.8s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(4), .stripe-right .bar:nth-child(4) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.8s; } }
    .stripe .bar:nth-child(5), .stripe-right .bar:nth-child(5) {
      top: 52px;
      transition: width 1s ease-out 0.16s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(5), .stripe-right .bar:nth-child(5) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.16s; } }
    .stripe .bar:nth-child(6), .stripe-right .bar:nth-child(6) {
      top: 65px;
      transition: width 1s ease-out 0.6s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(6), .stripe-right .bar:nth-child(6) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.6s; } }
    .stripe .bar:nth-child(7), .stripe-right .bar:nth-child(7) {
      top: 78px;
      transition: width 1s ease-out 0.44s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(7), .stripe-right .bar:nth-child(7) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.44s; } }
    .stripe .bar:nth-child(8), .stripe-right .bar:nth-child(8) {
      top: 91px;
      transition: width 1s ease-out 0.1s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(8), .stripe-right .bar:nth-child(8) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.1s; } }
    .stripe .bar:nth-child(9), .stripe-right .bar:nth-child(9) {
      top: 104px;
      transition: width 1s ease-out 0.6s; }
      @media (max-width: 767px) {
        .stripe .bar:nth-child(9), .stripe-right .bar:nth-child(9) {
          animation-duration: 0.25s;
          transition: width 0.5s ease-out 0.6s; } }

.stripe.visible .bar, .visible.stripe-right .bar {
  width: 100%;
  animation-name: stripe-color;
  animation-duration: 1s;
  position: absolute;
  left: 0;
  background-color: #29d4be; }
  .stripe.visible .bar:nth-child(1), .visible.stripe-right .bar:nth-child(1) {
    animation-delay: 0.2s; }
  .stripe.visible .bar:nth-child(2), .visible.stripe-right .bar:nth-child(2) {
    animation-delay: 0.4s; }
  .stripe.visible .bar:nth-child(3), .visible.stripe-right .bar:nth-child(3) {
    animation-delay: 0s; }
  .stripe.visible .bar:nth-child(4), .visible.stripe-right .bar:nth-child(4) {
    animation-delay: 0.8s; }
  .stripe.visible .bar:nth-child(5), .visible.stripe-right .bar:nth-child(5) {
    animation-delay: 0.16s; }
  .stripe.visible .bar:nth-child(6), .visible.stripe-right .bar:nth-child(6) {
    animation-delay: 0.6s; }
  .stripe.visible .bar:nth-child(7), .visible.stripe-right .bar:nth-child(7) {
    animation-delay: 0.44s; }
  .stripe.visible .bar:nth-child(8), .visible.stripe-right .bar:nth-child(8) {
    animation-delay: 0.1s; }
  .stripe.visible .bar:nth-child(9), .visible.stripe-right .bar:nth-child(9) {
    animation-delay: 0.6s; }

@media (max-width: 767px) {
  .stripe, .stripe-right {
    width: 100%; }
    .stripe.visible .bar, .visible.stripe-right .bar {
      width: 100%; } }

.stripe-right {
  width: 50vw;
  transform: rotate(180deg); }
  @media (max-width: 767px) {
    .stripe-right {
      width: 100%; } }

@keyframes stripe-color {
  0% {
    background-color: #5454ff; }
  10% {
    background-color: #5454ff; }
  40% {
    background-color: #ab22d8; }
  90% {
    background-color: #29d4be; }
  100% {
    background-color: #29d4be; } }

.navbar-default {
  background: #fff;
  border: none; }
  @media (max-width: 767px) {
    .navbar-default .navbar-brand {
      display: block;
      float: none; }
      .navbar-default .navbar-brand img {
        margin: 0 auto; }
    .navbar-default .navbar-nav {
      text-align: center;
      margin-top: 45px; } }
  @media (max-width: 767px) and (max-width: 767px) {
    .navbar-default .navbar-nav {
      margin-top: 53px; } }
  @media (max-width: 767px) and (max-width: 320px) {
    .navbar-default .navbar-nav {
      font-size: 13px; } }

.nav {
  margin: -32px -22px -25px 0; }
  @media (max-width: 767px) {
    .nav {
      margin: 0; } }
  .nav .nav-item {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 45px; }
    @media (max-width: 767px) {
      .nav .nav-item {
        display: inline-block;
        padding: 0; } }
    .nav .nav-item .nav-item-link {
      color: #5454ff;
      letter-spacing: 0.1em; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #29d4be; }

.change-color:hover {
  animation-name: textcolor;
  animation-duration: 1s; }

@keyframes textcolor {
  0% {
    color: #ab22d8; }
  50% {
    color: #ab22d8; }
  100% {
    color: #29d4be; } }

.first-section {
  margin-bottom: 100px; }
  @media (max-width: 767px) {
    .first-section {
      margin-top: -80px;
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    .first-section .section-text {
      padding-left: 0; } }

.first-section-container {
  text-align: center; }

@media (max-width: 1199px) {
  .first-section-img {
    width: 100%; } }

@media (max-width: 1023px) {
  .first-section-img {
    width: 100%; } }

@media (max-width: 991px) {
  .first-section-img {
    padding-left: 0; } }

@media (max-width: 767px) {
  .first-section-img {
    padding: 20px;
    width: 50%;
    transform: translate(0, 0); } }

@media (max-width: 479px) {
  .first-section-img {
    width: 75%; } }

@media (max-width: 320px) {
  .first-section-img {
    padding: 20px;
    width: 85%;
    transform: translate(0, 0); } }

.second-section {
  margin-bottom: 125px; }
  @media (max-width: 991px) {
    .second-section {
      margin-bottom: 50px; } }
  @media (max-width: 767px) {
    .second-section {
      margin-bottom: 25px; } }
  @media (max-width: 767px) {
    .second-section .row {
      display: flex;
      justify-content: center;
      flex-direction: column; } }
  @media (max-width: 767px) {
    .second-section .second-section-img-container {
      order: 2;
      text-align: center; } }
  @media (max-width: 991px) {
    .second-section .second-section-text-container {
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 767px) {
    .second-section .second-section-text-container {
      order: 1; } }
  @media (max-width: 767px) {
    .second-section .stripes {
      display: none; } }

@media (max-width: 991px) {
  .second-section-img {
    width: 90%; } }

@media (max-width: 767px) {
  .second-section-img {
    width: 50%; } }

@media (max-width: 991px) {
  .third-section .section-text {
    padding-left: 0; } }

.third-section-img-container {
  text-align: center; }

.section-text {
  padding-left: 80px;
  padding-right: 25px; }
  @media (max-width: 767px) {
    .section-text {
      text-align: center;
      padding: 0; } }

.section-header {
  text-transform: uppercase;
  line-height: 75px;
  font-size: 67px;
  display: inline-block;
  width: 300px; }
  @media (max-width: 767px) {
    .section-header {
      line-height: 40px;
      font-size: 27px; } }
  .section-header:after {
    display: inline-block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 285px;
    position: relative;
    bottom: 50px; }
    @media (max-width: 767px) {
      .section-header:after {
        width: 140px;
        position: relative;
        bottom: 0px;
        display: block;
        margin: 0 auto; } }

.section-subheader {
  font-weight: 300;
  margin-top: -50px; }
  @media (max-width: 767px) {
    .section-subheader {
      padding: 50px 15px 15px;
      text-align: center; } }
  @media (max-width: 320px) {
    .section-subheader {
      padding: 50px 10px 10px; } }

@media (max-width: 479px) {
  .hello-section {
    margin-bottom: 20px; } }

.hello-section .container {
  position: relative;
  z-index: 3; }

.hello-section .hello-text {
  padding: 90px 200px 25px 200px;
  position: relative; }
  @media (max-width: 1400px) {
    .hello-section .hello-text {
      padding: 90px 100px 25px 100px; } }
  @media (max-width: 991px) {
    .hello-section .hello-text {
      padding: 40px 5px 25px 50px; } }
  @media (max-width: 767px) {
    .hello-section .hello-text {
      padding: 35px 35px 25px 25px; } }
  @media (max-width: 479px) {
    .hello-section .hello-text {
      padding: 5px; } }
  @media (max-width: 320px) {
    .hello-section .hello-text {
      padding: 0px 10px 10px 10px; } }
  .hello-section .hello-text:after {
    display: inline-block;
    content: "";
    border-top: 4px solid #5454ff;
    width: 362px;
    position: absolute;
    bottom: 0;
    right: 20px; }
    @media (max-width: 767px) {
      .hello-section .hello-text:after {
        display: none; } }

.hello-section .main-header {
  color: #5454ff;
  text-transform: uppercase;
  font-size: 27px; }
  @media (max-width: 767px) {
    .hello-section .main-header {
      text-align: center; } }

.hello-section .main-subheader {
  font-weight: 300;
  font-size: 25px; }
  @media (max-width: 767px) {
    .hello-section .main-subheader {
      text-align: center;
      font-size: 22px; } }
  @media (max-width: 320px) {
    .hello-section .main-subheader {
      font-size: 16px; } }

.hello-section .hello-section-dots {
  position: absolute;
  right: 90px;
  top: 80px; }
  @media (max-width: 1199px) {
    .hello-section .hello-section-dots {
      right: 55px; } }
  @media (max-width: 991px) {
    .hello-section .hello-section-dots {
      right: 70px; } }
  @media (max-width: 767px) {
    .hello-section .hello-section-dots {
      display: none; } }
  @media (max-width: 479px) {
    .hello-section .hello-section-dots {
      display: none; } }

@media (max-width: 767px) {
  .who-we-are {
    text-align: center; } }

.who-we-are .section-header {
  display: block;
  width: 100%;
  padding-bottom: 70px; }
  .who-we-are .section-header:after {
    display: block;
    content: "";
    border-top: 5px solid #f0eeee;
    width: 284px;
    position: relative;
    bottom: -8px;
    margin: 0 auto; }
    @media (max-width: 320px) {
      .who-we-are .section-header:after {
        width: 140px; } }

.who-we-are .our-images {
  padding-bottom: 70px; }
  @media (max-width: 767px) {
    .who-we-are .our-images {
      padding-bottom: 0; } }
  .who-we-are .our-images .image-box {
    text-align: center; }
    @media (max-width: 991px) {
      .who-we-are .our-images .image-box {
        margin-bottom: 60px; } }
    @media (max-width: 767px) {
      .who-we-are .our-images .image-box .image-box-img {
        height: 200px; } }
    @media (max-width: 479px) {
      .who-we-are .our-images .image-box .image-box-img {
        height: 175px; } }
    @media (max-width: 320px) {
      .who-we-are .our-images .image-box .image-box-img {
        height: 180px; } }
  .who-we-are .our-images .our-images-name {
    margin-top: 30px;
    text-transform: uppercase; }

@media (max-width: 767px) {
  .who-we-are .who-we-are-list-container {
    margin-bottom: 0; } }

.who-we-are .who-we-are-list-title {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }
  @media (max-width: 767px) {
    .who-we-are .who-we-are-list-title {
      padding-left: 0; } }

@media (max-width: 767px) {
  .who-we-are .who-we-are-text {
    padding: 0 15px 5px 15px; } }

@media (max-width: 479px) {
  .who-we-are .who-we-are-text {
    padding: 0 0 7px 0; } }

.who-we-are .our-strengths {
  text-transform: uppercase;
  color: #5454ff;
  font-size: 20px; }

@media (max-width: 767px) {
  .who-we-are .who-we-are-subheader {
    padding: 10px 15px 5px 15px; } }

.our-projects {
  background-color: #efefef;
  padding: 60px;
  position: relative;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .our-projects {
      padding: 35px 15px 15px; } }
  .our-projects .container {
    position: relative;
    z-index: 3; }
    @media (max-width: 768px) {
      .our-projects .container {
        width: initial; } }
  .our-projects .our-projects-section-dots {
    position: absolute;
    right: 90px;
    top: -115px; }
    @media (max-width: 1199px) {
      .our-projects .our-projects-section-dots {
        right: 55px; } }
    @media (max-width: 991px) {
      .our-projects .our-projects-section-dots {
        right: 70px; } }
    @media (max-width: 767px) {
      .our-projects .our-projects-section-dots {
        display: none; } }
    @media (max-width: 479px) {
      .our-projects .our-projects-section-dots {
        display: none; } }
  .our-projects .section-header {
    display: block;
    width: 100%; }
    .our-projects .section-header:after {
      display: block;
      content: "";
      border-top: 5px solid #fff;
      width: 285px;
      position: relative;
      bottom: -8px;
      margin: 0 auto; }
      @media (max-width: 767px) {
        .our-projects .section-header:after {
          width: 284px; } }
      @media (max-width: 320px) {
        .our-projects .section-header:after {
          width: 140px; } }
  .our-projects .our-projects-subheader {
    padding: 40px;
    width: 500px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .our-projects .our-projects-subheader {
        width: 100%;
        text-align: center; } }
    @media (max-width: 320px) {
      .our-projects .our-projects-subheader {
        padding: 25px 10px 25px 10px; } }

.footer {
  background-color: #efefef;
  padding: 30px; }
  .footer .icons {
    padding-left: 15px; }
    @media (max-width: 767px) {
      .footer .icons {
        text-align: center;
        margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .footer .rights {
      text-align: center; } }
  .footer .icon {
    padding-right: 15px;
    opacity: 0.7; }
    .footer .icon:hover {
      opacity: 1; }

.container {
  width: initial;
  padding-left: 70px;
  padding-right: 70px; }
  @media (max-width: 1800px -1px) {
    .container {
      padding-left: 70px;
      padding-right: 70px; } }
  @media (max-width: 1199px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 991px) {
    .container {
      padding-left: 60px;
      padding-right: 60px; } }
  @media (max-width: 767px) {
    .container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 479px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

header .navbar .container {
  padding: 0; }
  header .navbar .container .container {
    padding: 0; }
    header .navbar .container .container .nav {
      margin: 0 -22px -25px 0; }

.first-section .container,
.second-section .container,
.third-section .container,
.what-we-do .container,
.who-we-are .container {
  padding-left: 120px;
  padding-right: 120px; }
  @media (max-width: 1400px) {
    .first-section .container,
    .second-section .container,
    .third-section .container,
    .what-we-do .container,
    .who-we-are .container {
      padding-left: 70px;
      padding-right: 70px; } }
  @media (max-width: 991px) {
    .first-section .container,
    .second-section .container,
    .third-section .container,
    .what-we-do .container,
    .who-we-are .container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 479px) {
    .first-section .container,
    .second-section .container,
    .third-section .container,
    .what-we-do .container,
    .who-we-are .container {
      padding-left: 25px;
      padding-right: 25px; } }
  @media (max-width: 1400px) {
    .first-section .container .section-text,
    .second-section .container .section-text,
    .third-section .container .section-text,
    .what-we-do .container .section-text,
    .who-we-are .container .section-text {
      padding-left: 40px; } }
  @media (max-width: 1023px) {
    .first-section .container .section-text,
    .second-section .container .section-text,
    .third-section .container .section-text,
    .what-we-do .container .section-text,
    .who-we-are .container .section-text {
      padding-left: 10px; } }
  @media (max-width: 767px) {
    .first-section .container .section-text,
    .second-section .container .section-text,
    .third-section .container .section-text,
    .what-we-do .container .section-text,
    .who-we-are .container .section-text {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .first-section .container .section-header,
    .second-section .container .section-header,
    .third-section .container .section-header,
    .what-we-do .container .section-header,
    .who-we-are .container .section-header {
      width: initial; } }

.first-section .first-section-img {
  padding: 0;
  margin-left: -50px; }
  @media (max-width: 1023px) {
    .first-section .first-section-img {
      margin-top: 60px; } }
  @media (max-width: 991px) {
    .first-section .first-section-img {
      transform: translate(0, 50%);
      margin-top: 0; } }
  @media (max-width: 767px) {
    .first-section .first-section-img {
      margin-top: 10px;
      transform: translate(0, 0); } }
  @media (max-width: 479px) {
    .first-section .first-section-img {
      margin: 10px 0 auto; } }
  @media (width: 768px) {
    .first-section .first-section-img {
      transform: translate(0, 50%);
      margin-top: 0; } }

.first-section .section-subheader {
  width: 80%; }
  @media (max-width: 991px) {
    .first-section .section-subheader {
      width: 90%; } }
  @media (max-width: 767px) {
    .first-section .section-subheader {
      width: 100%; } }
  @media (max-width: 768px) {
    .first-section .section-subheader {
      width: 100%; } }
  @media (max-width: 479px) {
    .first-section .section-subheader {
      padding: 50px 0 10px; } }

.second-section .second-section-img-container {
  text-align: center; }
  @media (max-width: 1023px) {
    .second-section .second-section-img-container .second-section-img {
      margin-top: 50px;
      width: 100%; } }
  @media (min-width: 1023px) and (max-width: 1085px) {
    .second-section .second-section-img-container .second-section-img {
      width: 100%; } }
  @media (max-width: 767px) {
    .second-section .second-section-img-container .second-section-img {
      margin-top: 10px;
      width: 55%; } }
  @media (max-width: 479px) {
    .second-section .second-section-img-container .second-section-img {
      width: 85%; } }

.second-section .section-text {
  padding-left: 0;
  padding-right: 0;
  width: 80%; }
  @media (max-width: 768px) {
    .second-section .section-text {
      width: 90%; } }
  @media (max-width: 767px) {
    .second-section .section-text {
      width: 100%; } }

.third-section .section-subheader {
  width: 80%; }
  @media (max-width: 991px) {
    .third-section .section-subheader {
      width: 90%; } }
  @media (max-width: 767px) {
    .third-section .section-subheader {
      width: 100%; } }
  @media (max-width: 768px) {
    .third-section .section-subheader {
      width: 100%; } }

@media (max-width: 991px) {
  .third-section .first-section-img {
    padding-left: 0;
    transform: translate(0, 25%); } }

@media (max-width: 767px) {
  .third-section .first-section-img {
    padding-left: 0;
    transform: translate(0, 0); } }

@media (max-width: 479px) {
  .third-section .first-section-img {
    margin: 0 auto;
    width: 85%;
    padding: 0; } }

@media (width: 768px) {
  .third-section .first-section-img {
    padding-left: 0;
    transform: translate(0, 25%); } }

.what-we-do {
  padding: 0 0 60px; }
  .what-we-do .what-we-do-container {
    padding-left: 80px; }
    @media (max-width: 1400px) {
      .what-we-do .what-we-do-container {
        padding-left: 40px; } }
    @media (max-width: 767px) {
      .what-we-do .what-we-do-container {
        text-align: center; } }
  .what-we-do .we-do-content {
    width: 80%;
    padding-right: 0; }
    @media (max-width: 767px) {
      .what-we-do .we-do-content {
        padding-right: 0; } }

.our-projects {
  margin-bottom: 50px; }
  @media (max-width: 479px) {
    .our-projects .our-projects-subheader {
      padding: 20px 0; } }
  .our-projects a.mailto:hover, .our-projects a.mailto:active, .our-projects a.mailto:focus {
    color: #29d4be;
    text-decoration: none; }

.who-we-are .who-we-are-list-container {
  padding: 0 80px; }
  @media (max-width: 1400px) {
    .who-we-are .who-we-are-list-container {
      padding-left: 40px; } }
  @media (max-width: 991px) {
    .who-we-are .who-we-are-list-container {
      padding: 0 20px 0 40px; } }
  @media (max-width: 767px) {
    .who-we-are .who-we-are-list-container {
      padding: 20px; } }
  @media (max-width: 320px) {
    .who-we-are .who-we-are-list-container {
      padding: 10px; } }

.who-we-are .who-we-are-subheader {
  padding-right: 80px; }
  @media (max-width: 991px) {
    .who-we-are .who-we-are-subheader {
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .who-we-are .who-we-are-subheader {
      padding: 0 20px; } }
  @media (max-width: 768px) {
    .who-we-are .who-we-are-subheader {
      padding-right: 20px; } }
  @media (max-width: 479px) {
    .who-we-are .who-we-are-subheader {
      padding: 0; } }

@media (max-width: 767px) {
  .stripes-second {
    margin-bottom: 10px; } }

body {
  margin: 0;
  background-color: #fff;
  font-family: "robotolight", sans-serif;
  color: #373D3F; }

header {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    header {
      margin-bottom: 0; } }

section {
  margin-bottom: 50px; }
