.btn-blue-custom {
  background-color: $second-blue;
  border: none;
  border-radius: 0;
  padding: 10px 44px;
  font-size: $btn-font-size;
  font-weight: 300;
  color: $white;
  @media (max-width: $max-width-xs) {
      margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    background-color: $second-blue-hover;
    color: $white;
    outline: none;
  }
  &:active {
    background-color: $second-blue-hover;
    border-color: transparent;
    color: white;
    box-shadow: none;
  }
}

.btn-blue-second-custom{
  @extend .btn-blue-custom;
  background-color: $main-blue;
  font-size: 14px;
  margin-top: 20px;

    &:active {
      background-color: $main-blue-hover;
    }

    &:hover {
      background-color: $main-blue-hover;
      color: $white;
  }
}
