.btn-blue-custom {
  background-color: $main-blue;
  border: none;
  border-radius: 0;
  padding: 10px 44px;
  font-size: $btn-font-size;
  text-transform: uppercase;
  font-weight: 300;

  &:hover {
    background-color: $main-blue-hover;
    color: $white;
  }
}
