$white: #fff;
$black: #000;
$main-font-color: #373D3F;
$main-blue: #5454ff;
$main-blue-hover:#2221d3;
$second-blue: #29d4be;
$light-grey: #f0eeee;
$dark-grey: #e7e7e7;
$hover-violet: #ab22d8;

.is-blue {
  color: $main-blue;
}