//
//.cookies-container {
//  display: none;
//  width:100px;
//  background-color: red;
//  position: absolute;
//  top: 95px;
//  right: 0;
//  z-index: 99999;
//  border-radius: 50px 0px 0px 50px;;
//  font-size: 10px;
//}

.cookies-container {
  display: none;
  position: absolute;
  top:0;
  opacity: 0.5;
  background-color: #373D3F;
}

.no-js-cookies-container {
  position: absolute;
  top:0;
  opacity: 0.5;
  background-color: #373D3F;
}