.hello-section {
  @media (max-width: $max-width-xxs) {
    margin-bottom: 20px;
  }
  .container {
    position: relative;
    z-index: 3;
  }

    .hello-text {
      padding: 90px 200px 25px 200px;
      position: relative;

      @media (max-width: 1400px) {
        padding: 90px 100px 25px 100px;
      }
      @media (max-width: $max-width-sm) {
          padding: 40px 5px 25px 50px;
      }
      @media (max-width: $max-width-xs) {
        padding: 35px 35px 25px 25px;
      }
      @media (max-width: $max-width-xxs) {
        padding: 5px;
      }
      @media (max-width: 320px) {
          padding: 0px 10px 10px 10px;
      }

    &:after {
      display: inline-block;
      content: "";
      border-top: 4px solid $main-blue;
      width: 362px;
      position: absolute;
      bottom: 0;
      right: 20px;

      @media (max-width: $max-width-xs) {
        display: none;
      }
    }
  }

  .main-header {
    color: $main-blue;
    text-transform: uppercase;
    font-size: $main-header-font-size ;

    @media (max-width: $max-width-xs) {
      text-align: center;
    }
  }

  .main-subheader {
    //font-size: $main-subheader-font-size;
    font-weight: 300;
    font-size: 25px;

    @media (max-width: $max-width-xs) {
      text-align: center;
      font-size: 22px;
    }

    @media (max-width: 320px) {
      font-size: 16px;
    }
  }

  .hello-section-dots {
    position: absolute;
    right: 90px;
    top: 80px;

    @media (max-width: $max-width-st) {
      right: 55px;
    }
    @media (max-width: $max-width-sm) {
      right: 70px;
    }
    @media (max-width: $max-width-xs) {
        display: none;
    }
    @media (max-width: $max-width-xxs) {
        display: none;
    }
  }
}