.footer {
  background-color: $dark-grey;
  padding: 30px;

  .icons {
    padding-left: 15px;
    
    @media (max-width: $max-width-xs) {
        text-align: center;
        margin-bottom: 10px;
    }
  }

  .rights {
    @media (max-width: $max-width-xs) {
        text-align: center;
    }
  }

  .icon {
    padding-right: 15px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
