.our-projects {
  background-color: $dark-grey;
  padding: 60px;
  position: relative;
  margin-bottom: 0;
  @media (max-width: $max-width-xs) {
    padding: 35px 15px 15px;
  }

  .container {
    position: relative;
    z-index: 3;
    @media (max-width: 768px) {
      width: initial;
    }
  }

  .our-projects-section-dots {
    position: absolute;
    right: 300px;
    top: 0;

    @media (max-width: $max-width-st) {
      right: 140px;
    }
    @media (max-width: $max-width-xs) {
      display: none;
    }
  }

  .section-header {
    display: block;
    width: 100%;

    &:after {
      display: block;
      content: "";
      border-top: 5px solid $white;
      width: 285px;
      position: relative;
      bottom: -8px;
      margin: 0 auto;
      @media (max-width: $max-width-xs) {
        width: 284px;
      }
      @media (max-width: 320px) {
        width: 140px;
      }
    }
  }
  .our-projects-subheader {
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    @media (max-width: $max-width-xs) {
      width: 100%;
      text-align: center;
    }
    @media (max-width: 320px) {
    padding: 25px 10px 25px 10px;
    }
  }
}
