.footer {
  background-color: $dark-grey;
  padding: 30px;

  .icons {
    padding-left: 40px;
    
    @media (max-width: $max-width-xs) {
        text-align: center;
        margin-bottom: 10px;
    }
  }

  .rights {
    @media (max-width: $max-width-xs) {
        text-align: center;
    }
  }
}
