.who-we-are {
  @media (max-width: $max-width-xs) {
    text-align: center;
  }

  .section-header {
    display: block;
    width: 100%;
    padding-bottom: 70px;

    &:after {
      content: none;
    }
  }

  .our-images {
    padding-bottom: 70px;

    @media (max-width: $max-width-xs) {
        padding-bottom: 20px;
    }

    .image-box {
      text-align: center;

      @media (max-width: $max-width-sm) {
        margin-bottom: 60px;
      }
    }
  }

  .who-we-are-list-container {
    @media (max-width: $max-width-xs) {
        margin-bottom: 40px;
    }
    &:after {
      display: block;
      content: "";
      border-top: 5px solid $light-grey;
      width: 390px;
      position: relative;
      bottom: -8px;
      left: 23px;
      
      @media (max-width: $max-width-sm) {
          width: 315px;
      }
      @media (max-width: $max-width-xs) {
          width: 77%;
          margin: 0 auto;
          left: 0;
      }
    }
  }

  .who-we-are-list-title {
    text-transform: uppercase;
    color: $main-blue;
    font-size: 20px;
    padding-left: 25px;
    
    @media (max-width: $max-width-xs) {
      padding-left: 0;
    }
  }

  // list styles 
  // .who-we-are-list {
  //   list-style-type: square;
  //   color: $main-blue;

  //   span {
  //     color: black;
  //   }
  // }

  .who-we-are-text {
    width: 70%;
    padding-left: 25px;

    @media (max-width: $max-width-sm) {
      width: 100%;
    }

    @media (max-width: $max-width-xs) {
      padding: 10px 80px 5px 80px;
    }
  }

  .our-strengths {
    text-transform: uppercase;
    color: $main-blue;
    font-size: 20px;
  }

  .who-we-are-subheader {
    width: 70%;

    @media (max-width: $max-width-sm) {
      width: 100%;
    }
    @media (max-width: $max-width-xs) {
      padding: 10px 80px 5px 80px;
    }

    &:after {
      display: block;
      content: "";
      border-top: 5px solid $light-grey;
      width: 400px;
      position: relative;
      bottom: -20px;
      left: 0;

      @media (max-width: $max-width-sm) {
        width: 333px;
      }
      @media (max-width: $max-width-xs) {
          width: 100%;
      }
    }
  }
}
