.who-we-are {
  @media (max-width: $max-width-xs) {
    text-align: center;
  }

  .section-header {
    display: block;
    width: 100%;
    padding-bottom: 70px;

    &:after {
      display: block;
      content: "";
      border-top: 5px solid #f0eeee;
      width: 284px;
      position: relative;
      bottom: -8px;
      margin: 0 auto;
      @media (max-width: 320px) {
            width: 140px;
      }
    }
  }

  .our-images {
    padding-bottom: 70px;

    @media (max-width: $max-width-xs) {
        padding-bottom: 20px;
    }

    .image-box {
      text-align: center;

      @media (max-width: $max-width-sm) {
        margin-bottom: 60px;
      }

      .image-box-img:nth-child(even) {
        @media (max-width: $max-width-xxs) {
          width: 80%;
        }
      }
    }
  }

  .who-we-are-list-container {
    @media (max-width: $max-width-xs) {
        margin-bottom: 40px;
    }
  }

  .who-we-are-list-title {
    text-transform: uppercase;
    color: $main-blue;
    font-size: 20px;
    
    @media (max-width: $max-width-xs) {
      padding-left: 0;
    }
  }

  .who-we-are-text {
    @media (max-width: $max-width-xs) {
      padding: 10px 15px 5px 15px;
    }
  }

  .our-strengths {
    text-transform: uppercase;
    color: $main-blue;
    font-size: 20px;
  }

  .who-we-are-subheader {
    @media (max-width: $max-width-xs) {
      padding: 10px 15px 5px 15px;
    }
  }
}
