    
.what-we-do {
    padding: 0 50px 25px 25px;
    .we-do-title {
    text-transform: uppercase;
    color: #5454ff;
    font-size: 20px;
    }

    .text-center {
        .section-header {
            width: 330px;
        }
    }
}
