$max-height: 500px;
$stripe-green-color: #32cec0;
$stripe-viol-color: #5254ff;
$stripe-lightgreen-color: lightgreen;
$stripe-lightgrey-color: lightgrey;
$transition-time: 1s;
$ease-step: 0.1s;
$random-starts: (
        rand-1: 1,
        rand-2: 2,
        rand-3: 0,
        rand-4: 4,
        rand-5: .8,
        rand-6: 3,
        rand-7: 2.2,
        rand-8: 0.5,
        rand-9: 3,

);

@mixin mobile-animation($chosen-media, $anima-time, $ease-single-time, $delay) {
  @media (max-width: $chosen-media) {
    animation-duration: $anima-time/4;
    transition: width $anima-time/2 ease-out $ease-single-time*$delay;
  }
}

.stripe {
  width: 70vw;

  .bar {
    fill: $stripe-lightgrey-color;
    width: 0;
    height: 5px;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        transition: width $transition-time ease-out $ease-step*(map-get($random-starts, rand-#{$i}));
        @include mobile-animation ($max-width-xs, $transition-time, $ease-step, map-get($random-starts, rand-#{$i}) );
      }
    }
  }
}

.stripe {
  &.visible .bar {
    width: 50vw;
    animation-name: stripe-color;
    animation-duration: $transition-time;

    @for $j from 1 through 9 {
      &:nth-child(#{$j}) {
        animation-delay: $ease-step*map-get($random-starts , rand-#{$j});
      }
    }

    fill: $second-blue;
  }
}

.stripe-right {
  @extend .stripe;
  width: 50vw;
  transform: rotate(180deg);
  
  @media (max-width: $max-width-xs) {
    width: 100%;
  }
}

@keyframes stripe-color {
  0% {
    fill: $main-blue;
  }
  10% {
    fill: $main-blue;
  }
  40% {
    fill: $hover-violet;
  }
  90% {
    fill: $second-blue;
  }
  100% {
    fill: $second-blue;
  }
}

