$max-height: 500px;
$stripe-green-color: #32cec0;
$stripe-viol-color: #5254ff;
$stripe-lightgreen-color: lightgreen;
$stripe-lightgrey-color: lightgrey;

.equilizer {
  width: 70vw;

  .bar {
    animation-name: rev-stripe-color;
    animation-duration: 2.9s;

    fill: $stripe-lightgrey-color;
    width: 0;
    height: 3px;


    &:nth-child(1) {
      transition: width 1.5s ease-out 0.25s;
    }

    &:nth-child(2) {
      transition: width 1.5s ease-out 0.45s;
    }

    &:nth-child(3) {
      transition: width 1.5s ease-out;
    }

    &:nth-child(4) {
      transition: width 1.5s ease-out 0.7s;
    }

    &:nth-child(5) {
      transition: width 1.5s ease-out 0.15s;
    }

    &:nth-child(6) {
      transition: width 1.5s ease-out 0.65s;
    }

    &:nth-child(7) {
      transition: width 1.5s ease-out 0.55s;
    }

    &:nth-child(8) {
      transition: width 1.5s ease-out 0.15s;
    }

    &:nth-child(9) {
      transition: width 1.5s ease-out 0.65s;
    }

    &:nth-child(10) {
      transition: width 1.5s ease-out 0.45s;
    }

    &:nth-child(11) {
      transition: width 1.5s ease-out 0.5s;
    }
  }
}

.equilizer {
  &.visible .bar {
    width: 50vw;
    animation-name: stripe-color;
    animation-duration: 2.5s;
    fill: $second-blue;
  }
}

.equilizer-right {
  @extend .equilizer;
  width: 50vw;
  transform: rotate(180deg);
  
  @media (max-width: $max-width-xs) {
    width: 100%;
  }
}

@keyframes stripe-color {
  0% {
    fill: $main-blue;
  }
  10% {
    fill: $main-blue;
  }
  40% {
    fill: $hover-violet;
  }
  90% {
    fill: $second-blue;
  }
  100% {
    fill: $second-blue;
  }
}

@keyframes rev-stripe-color {
  0% {
    fill: $second-blue;
  }
  60% {
    fill: $hover-violet;
  }
  90% {
    fill: $main-blue;
  }
  100% {
    fill: $main-blue;
  }
}

