.container {
    width: initial;
    padding-left: 70px;
    padding-right: 70px;

    @media (max-width: $max-width-xlg) {
        padding-left: 70px;
        padding-right: 70px;
    }
    @media (max-width: $max-width-st) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: $max-width-sm) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (max-width: $max-width-xs) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: $max-width-xxs) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

header {
    .navbar {
        .container {
            padding: 0;

            .container {
                padding: 0;

                .nav {
                    margin: 0 -22px -25px 0;
                }
            }
        }
    }
}

.first-section,
.second-section,
.third-section,
.what-we-do,
.who-we-are {
    .container {
        padding-left: 120px;
        padding-right: 120px;
        @media (max-width: 1400px) {
            padding-left: 70px;
            padding-right: 70px;
        }
        @media (max-width: $max-width-sm ) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media (max-width: $max-width-xxs ) {
            padding-left: 25px;
            padding-right: 25px;
        }

        .section-text {
            @media (max-width: 1400px) {
                padding-left: 40px;
            }
            @media (max-width: $max-width-md) {
                padding-left: 10px;
            }
            @media (max-width: $max-width-xs) {
                padding-left: 0;
            }
        }

        .section-header {
            @media (max-width: $max-width-xs) {
                width: initial;
            }
        }
    }
}

.first-section {
    .first-section-img {
        padding: 0;
        margin-left: -50px;

        @media (max-width: $max-width-md) {
            margin-top: 60px;
        }
        @media (max-width: $max-width-sm) {
            transform: translate(0, 50%);
            margin-top: 0;
        }
        @media (max-width: $max-width-xs) {
            margin-top: 10px;
            transform: translate(0, 0);
        }
        @media (max-width: $max-width-xxs) {
            margin: 10px 0 auto;
        }
        @media (width: 768px) {
            transform: translate(0, 50%);
            margin-top: 0;
        }
    }
    .section-subheader {
        width: 80%;
        @media (max-width: $max-width-sm) {
            width: 90%;
        }
        @media (max-width: $max-width-xs) {
            width: 100%;
        }                
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: $max-width-xxs) {
            padding: 50px 0 10px;
        }
    }
}

.second-section {
    .second-section-img-container {
        text-align: center;
        .second-section-img {
            @media (max-width: $max-width-md) {
                margin-top: 50px;
                width: 100%;
            }
            @media (min-width: $max-width-md) and (max-width: 1085px) {
                width: 100%;
            }
            @media (max-width: $max-width-xs) {
                margin-top: 10px;
                width: 55%;
            }
            @media (max-width: $max-width-xxs) {
                width: 75%;
            }
        }
    }
    .section-text {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
        @media (max-width: 768px) {
            width: 90%;
        }
        @media (max-width: $max-width-xs) {
            width: 100%;
        }
    }
}

.third-section {
    .section-subheader {
        width: 80%;
        @media (max-width: $max-width-sm) {
            width: 90%;
        }
        @media (max-width: $max-width-xs) {
            width: 100%;
        }                
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .first-section-img {
        @media (max-width: $max-width-sm) {
            padding-left: 0;
            transform: translate(0, 25%);
        }
        @media (max-width: $max-width-xs) {
            padding-left: 0;
            transform: translate(0, 0);
        }
        @media (max-width: $max-width-xxs) {
            margin: 0 auto;
            width: 80%;
        }
        @media (width: 768px) {
            padding-left: 0;
            transform: translate(0, 25%);
        }
    }
}

.what-we-do {
    padding: 0 0 60px;
    .what-we-do-container {
        padding-left: 80px;
        @media (max-width: 1400px) {
            padding-left: 40px;
        }
        @media (max-width: $max-width-xs) {
            text-align: center;
        }
    }
    .we-do-content {
        width: 80%;
        padding-right: 0;
        @media (max-width: $max-width-xs) {    
            padding-right: 0;
        }
    }
}

.our-projects {
    margin-bottom: 50px;
    .our-projects-subheader {
        @media (max-width: $max-width-xxs) {
            padding: 20px 0;
        }
    }
    a.mailto {
        &:hover,
        &:active,
        &:focus {
            color: $second-blue;
            text-decoration: none;
        } 
    }
}

.who-we-are {
    .who-we-are-list-container {
        padding: 0 80px;
        @media (max-width: 1400px) {
            padding-left: 40px;
        }
        @media (max-width: $max-width-sm) {  
            padding: 0 20px 0 40px;
        }        
        @media (max-width: $max-width-xs) {  
            padding: 20px;
        }
        @media (max-width: 320px) {  
            padding: 10px;
        }
    }
    .who-we-are-subheader {
        padding-right: 80px;
        @media (max-width: $max-width-sm) {  
            padding-right: 20px;
        }  
        @media (max-width: $max-width-xs) {  
            padding: 0 20px;
        }
        @media (max-width: 768px) {  
            padding-right: 20px;
        }
        @media (max-width: $max-width-xxs) {
            padding: 0;
        }
    }
}

.stripes-second {
    @media (max-width: $max-width-xs) {  
       margin-bottom: 10px;
    }
}


