@import "breakpoints";
@import "typo";
@import "colors";
@import "button";
@import "stripes-animation";
@import "navbar";
@import "sections-managing";
@import "section-hello";
@import "section-who-we-are";
@import "section-our-projects";
@import "section-footer";
@import "type_effect";
@import "width_changes";

body {
    margin: 0;
    background-color: $white;
    font-family: $Roboto;
    color: $main-font-color;
}

header {
    margin-bottom: 50px;
    @media (max-width: $max-width-xs) {
        margin-bottom: 0;
    }
}

section {
    margin-bottom: 50px;
}
