@import "typo";
@import "colors";
@import "button";
@import "breakpoints";
@import "stripes-animation";
@import "navbar";
@import "sections-managing";
@import "section-hello";
@import "section-who-we-are";
@import "section-our-projects";
@import "section-footer";


body {
    margin: 0;
    background-color: $white;
    font-family: $Roboto;
    color: $main-font-color;
}

header {
    margin-bottom: 50px;
}

section {
    margin-bottom: 50px;
}
